@import "../utils/stylebase";

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container{
  min-height: 100vh;
  overflow: auto;
  position: relative;
  background-image: $background-image--base;
  display: flex;
  flex: 1 1 auto;
  padding: 3vh;
}

.page{
  width: 100%;
  border-radius: $border-radius;
  background: $background-color--base;
}

.wrapper{
  height: 100%;
  margin: 0 30px;
}

.header {
  @include size(100%, 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    margin: 0 20px;
    cursor: pointer;

  }
}

.logo{
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  img{
    width: 70px;
    margin: 0 0 0 100px;
  }

  p{
    @include text($font-family--logo, 40px, $font-weight--regular);
    margin: 0 10px;
  }
}

.body{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu{
  @include size(100px, 50%);
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 0;
  height: 500px;
  width: 100px;

  p{
    cursor: pointer;
    height: fit-content;
    margin: 0 0 140px 0;
    @include text($font-family--main, $font-size--middle, $font-weight--regular);
    transform: rotate(270deg);
    transition-duration: 150ms;
    &:hover{
      font-size: $font-size--middle+1px;
      transition-duration: 150ms;
    }
  }
}

.content{
  @include size(100%, 100%);
  margin: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content__img{
  margin: 0 50px;
}

.content__about{
  margin: 0 50px;
  width: 400px;

  p{
    margin: 15px 0;
  }
  .about__text{
    margin: 0 0 50px 0;
  }
}


.about__header{
  @include text($font-family--main, $font-size--header, $font-weight--regular);

  span{ @include text($font-family--logo, $font-size--header, $font-weight--regular); }
}

.about__text{
  @include text($font-family--main, $font-size--small, $font-weight--regular)
}


.about__button{
 @include button(400px, 70px, $font-size--large);
  margin: auto;
}

.none{
  display: none;
}

.clickedButton{
  color: $color--clicked__button;
}

@media (max-width: 1200px){
  .body{
    flex-direction: column;
  }

  .menu p{
    transform: rotate(0deg);
    margin: auto 70px;
  }
  .menu{
    cursor: ew-resize;
    margin: 20px 0;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: center;
  }
  .content{
    margin: 10%;
  }
}

@media (max-width: 900px) {
  .container{
    padding: 5px;
  }

  .logo img{
    margin: auto;
  }

  .menu {
    margin: auto;
    p {
      @include text($font-family--main, $font-size--small, $font-weight--regular);
      margin: auto 30px;
      &:hover{
        font-size: $font-size--small + 1px;
      }
    }
  }

  .content{
    width: auto;
    margin: auto;
    height: fit-content;
  }

  .content__img{
    width: 250px;
    margin: auto;
  }

  .content__about{
    margin: 50px 10px 100px 10px;
    max-width: 300px;
  }

  .about__button{
    @include button(250px, 60px, $font-size--middle);
    margin: auto;
  }
}

@media (max-width: 650px) {
  .content__img{
    display: none;
  }
}