.registration{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

.registration__block{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin: calc((100vh - 500px)/2) 0 0 0;
    background-color: #F0F0F0;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    text-align: center;
}

.registration__text{
    font-family: Roboto Slab, serif;
    font-size: 30px;
    margin: 28px;
}

.registration__fields{
    background-color: #F0F0F0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25), -10px -10px 15px #FFFFFF;
    border-radius: 20px;
    width: 450px;
    height: 380px;
    margin: 22px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.registration__fields div {
    width: 380px;
    height: 50px;
    border-radius: 25px;
    background-color: #F0F0F0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25), -10px -10px 15px #FFFFFF;
    margin: 0 auto;
}

.registration__fields span{
    display: block;
    font-family: Roboto Slab, serif;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.25);
    text-align: left;
    margin: 13px 0 2px 40px;
}

.registration__fields hr{
    width: 300px;
    margin: auto;
    height: 1px;
    background-color: black;
    border: none;
}

.registration__button{
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #5CCA95;
    border-radius: 30px;
    border: 5px solid #FFFFFF;
    margin: auto;
    bottom: -40px;
}

.registration__button p{
    font-family: Roboto Slab, serif;
    font-size: 20px;
    line-height: 26px;
    margin: 10px auto;
}

.registration__button:hover{
    box-shadow:0 0 10px white;
}

.none{
    display: none;
}

@media (max-width: 560px){
    .registration__block{
        width: 90%;
        height: 500px;
    }

    .registration__fields{
        width: 90%;
    }

    .registration__fields div{
        width: 90%;
    }

    .registration__fields hr{
        width: 75%;
    }



}